<% include ./partials/header %>
<div class="main">
    <h1 class='text-center m-5'>Blog</h1>
    <div class='row justify-content-center'>
        <a href="/admin/blog/usuarios" class='cmbtn btn btn-gerenciamento m-1'>Usuarios</a>
        <a href="/admin/blog/posts" class='cmbtn btn btn-gerenciamento m-1'>Posts</a>
        <a href="/admin/blog/categorias" class='cmbtn btn btn-gerenciamento m-1'>Categorias</a>
        <a href="/admin/blog/regras" class='cmbtn btn btn-gerenciamento m-1'>Regras para blog</a>
        <a href="/admin/blog/trofeus" class='cmbtn btn btn-gerenciamento m-1'>Trofeus</a>
    </div>
    <div class="row justify-content-center">
    <a href="/admin/gerenciamento" class='cmbtn btn btn-gerenciamento m-1'>Voltar</a>
    </div>
</div>
<% include ./partials/footer %>