<!DOCTYPE html>
<html lang="pt" dir='ltr'>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142312292-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-142312292-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content='Escola Master - Ensino Médio, Fundamental e Infantil! DESCONTOS e PROMOÇÕES - escolamaster@hotmail.com.br.
    O Colégio Master é uma escola particular localizada em Brasília/DF, no bairro São José em São Sebastião. 
    Inspirada nos princípios de liberdade e nos ideais de solidariedade e fraternidade humana a escola tem por finalidade em sua educação o pleno desenvolvimento do educando, seu preparo para o exercício da cidadania e sua preparação para o trabalho.
    (61) 3335-7458 - Geral,
    (61) 3335-4522 - Master I,
    (61) 3339-0012 - Master II,
    Bairro São José - São Sebastião, Brasília-DF, 71693-026.
    Venha conhecer nosso colégio!' name='description'>
    <title>Colégio Master | Ensino Médio, Fundamental e Infantil</title>
    <link rel="canonical" href="/home">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async>
    <!--RESOURCES-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" href="/res/icone-logo2.ico" type="image/x-icon"/>
    <script src="/js/lazysizes.min.js" async></script>
    <!-- <script async src="/js/jquery.simplr.smoothscroll.js"></script>
    <script async src="/js/jquery.mousewheel.min.js"></script> -->
</head>
    <body class='background-home'>
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-master d-lg-block text-center m-0 p-0">
            <div class="brand-col align-self-start m-auto">
            <a class="navbar-brand p-0 cmbtn" href="/home" alt='Colégio Master - São Sebastião'><span class="fonte colegio">Escola</span><span class="fonte master">Master</span></a>
            </div>
            <button class="navbar-toggler px-3 py-2 m-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        	<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Margin auto -->
        	    <ul class="navbar-nav m-auto text-left">
                    
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/home">Início</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/instituicao">Instituição</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/ensino">Ensino</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/eventos">Eventos</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/contato/agendamento">Contato</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="https://escolamaster.escolaweb.com.br/">Portal do aluno</a>
                    </li> 
                        
                        
                        
                    
                        
                        
                            
                            <li class="nav-item dropdown px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
                                <a class="nav-link dropdown-toggle p-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ver mais
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                                    <a class="dropdown-item cmbtn p-2" href="/pagina/5d379e8cc3d6b62d6940135c">Página criada</a>
                            
                        
                        
                        
                    
                        
                        
                            
                                    <a class="dropdown-item cmbtn p-2" href="/blog">Blog</a>
                            
                        
                        
                        
                    
                        
                        
                            
                                    <a class="dropdown-item cmbtn p-2" href="/pagina/5d379e8cc3d6b62d6940135c">Teste 2</a>
                            
                        
                        
                        
                    
                        
                        
                    
        		</ul>
            </div>
        </nav>
        <noscript>
            <div class="row justify-content-md-center text-center fixed-top m-0">
                <div class="alert alert-danger col-md-12 text-center" role="alert">Ative o javascript para continuar. =)</div>
            </div>
        </noscript>
        <div class="page-main">
<div class="main">




<div id="carouselExampleFade" class="carousel slide carousel-fade bg-font-master" data-ride="carousel">
  <div class="carousel-inner">
    
      
      
      <div class="carousel-item active border border-dark mobile" id='primBannerMob'>
          <img class="d-block w-100 lazyload" data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/evento%201.jpg_1565279629494?alt=media" alt="Banner mobile">
      </div>
      
      
    
    
      
        <div class="carousel-item active border border-dark desktop" id='primBannerDesk'>
          <img class="d-block w-100 lazyload" data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/43322895_2108939502484506_203211623081443328_o.jpg_1565889083952?alt=media" alt="Banner 1">
        </div>
        
    
    
      
      <div class="carousel-item border border-dark desktop">
        <img class="d-block w-100 lazyload" data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_7564cbfca7904ccd8891084a8fe35392_mv2.jpg_1565895806423?alt=media" alt="Banner 2">
      </div>
    
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<div class="container">
  <div class="bg-font-master p-0">

  <div class="row justify-content-md-center row-diferencial mt-2 mb-0 p-0">
  
  
    <div class="col-md-4 bg-ensino bg-md-diferencial m-2 mx-lg-1 p-0">
        <a href="/ensino/#Ensino%20M%C3%A9dio" class=''>
          <div class='text-center font-roboto fonte-ensino back-ens-h6 p-0'>Ensino Médio</div>
          <p class='text-center font-roboto p-3'>1° e 2° Séries do ensino médio.</p>
          <p class='text-center veja-mais'>VEJA MAIS!</p>
        </a>
        </div>
      
    <div class="col-md-4 bg-ensino bg-md-diferencial m-2 mx-lg-1 p-0">
        <a href="/ensino/#3%C2%AA%20s%C3%A9rie%20do%20Ensino%20M%C3%A9dio" class=''>
          <div class='text-center font-roboto fonte-ensino back-ens-h6 p-0'>3ª série do Ensino Médio</div>
          <p class='text-center font-roboto p-3'></p>
          <p class='text-center veja-mais'>VEJA MAIS!</p>
        </a>
        </div>
      
    <div class="col-md-4 bg-ensino bg-md-diferencial m-2 mx-lg-1 p-0">
        <a href="/ensino/#Ensino%20M%C3%A9dio%202" class=''>
          <div class='text-center font-roboto fonte-ensino back-ens-h6 p-0'>Ensino Médio 2</div>
          <p class='text-center font-roboto p-3'>1° e 2° Séries do ensino médio.</p>
          <p class='text-center veja-mais'>VEJA MAIS!</p>
        </a>
        </div>
      
    <div class="col-md-4 bg-ensino bg-md-diferencial m-2 mx-lg-1 p-0">
        <a href="/ensino/#Fundamental" class=''>
          <div class='text-center font-roboto fonte-ensino back-ens-h6 p-0'>Fundamental</div>
          <p class='text-center font-roboto p-3'>Do primeiro ao nono ano.</p>
          <p class='text-center veja-mais'>VEJA MAIS!</p>
        </a>
        </div>
      
    <div class="col-md-4 bg-ensino bg-md-diferencial m-2 mx-lg-1 p-0">
        <a href="/ensino/#Fundamental%202" class=''>
          <div class='text-center font-roboto fonte-ensino back-ens-h6 p-0'>Fundamental 2</div>
          <p class='text-center font-roboto p-3'>Fundamental</p>
          <p class='text-center veja-mais'>VEJA MAIS!</p>
        </a>
        </div>
      
   
</div>
  
</div>


  <div class="bg-font-master mt-5">
      <h1 class='text-center fonte-5 master mb-1'>Projetos</h1>
      <div class="underline-text mb-4"></div>
<div class="row justify-content-md-center">
  

    <div class="col-md col-lg-3 mt-2 mx-1 py-2 bg-diferencial">
      <div class="img-dif">
        <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/balizas.png_1563918222978?alt=media" class="img-fluid lazyload mt-2" style="width:100%" alt="Balizas ou balizadores estão à frente da Banda, com performances bem elaboradas, usando danças e acrobacias.">
      </div>
        <h2 class='text-center font-roboto p-3'>Balizas</h2>
        <p class='font-roboto'>Balizas ou balizadores estão à frente da Banda, com performances bem elaboradas, usando danças e acrobacias.</p>
    </div>

    <div class="col-md col-lg-3 mt-2 mx-1 py-2 bg-diferencial">
      <div class="img-dif">
        <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/bandamaster.png_1563925652204?alt=media" class="img-fluid lazyload mt-2" style="width:100%" alt="Projeto da Banda foi criado na Escola Master no ano de 2014, projeto que já rendeu muito título e alegria para toda nossa comunidade.

">
      </div>
        <h2 class='text-center font-roboto p-3'>Banda MASTER</h2>
        <p class='font-roboto'>Projeto da Banda foi criado na Escola Master no ano de 2014, projeto que já rendeu muito título e alegria para toda nossa comunidade.

</p>
    </div>

    <div class="col-md col-lg-3 mt-2 mx-1 py-2 bg-diferencial">
      <div class="img-dif">
        <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_d4e54366fac94bd0a5c2b008b9de827c_mv2.png_1563925684604?alt=media" class="img-fluid lazyload mt-2" style="width:100%" alt="É uma modalidade que vem ganhando espaço no Brasil, é uma junção de Dança e Ginástica com acrobacias.">
      </div>
        <h2 class='text-center font-roboto p-3'>Cheerleaders</h2>
        <p class='font-roboto'>É uma modalidade que vem ganhando espaço no Brasil, é uma junção de Dança e Ginástica com acrobacias.</p>
    </div>


</div>
</div>
</div>

<div class="bg-font-fix mt-5">
    <h1 class='fonte-5 master bg-font-master m-auto pb-1'>Estudantes</h1>
    <div class="underline-text"></div>
  </div>
<div class="row row-estudantes bg-estudantes-home m-0 py-5">
  <div class="container container-estudantes d-flex p-0">
    <div class="row mx-auto w-100">

  <div class="col-md-4 text-center">
    <div class="col-12 p-0 mb-5">
    <p class='mb-auto'>Tendo em vista a necessidade de conhecimentos tecnológicos por parte de toda sociedade,
       estamos corroborando efetivamente para que nossos alunos se adequem à essa realidade.</p>
    </div>
    <div class="col-12 p-0 m-0">
    <ul class='list-estudantes'>
    <li>
      <a href='/dever' class='btn btn-licao-de-casa cmbtn m-2'>Lição de casa</a>
    </li>
    
      <li>
        <a href='https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/TESTE.docx_1565376455251?alt=media' class='btn btn-regramento m-2'><i class="fas fa-book pr-2"></i>Regramento</a>
      </li>
      
    </ul>
  </div>
  </div>
  <div class="col-md-4 mb-5 mb-md-0 justify-content-center text-center">
    <h5 class='text-center fonte-6 master mb-3'>
      Plataformas digitais <span class='pl-2'><i class="material-icons">computer</i></span>
    </h5>
    
      <div class="col-12">
        <a href='https://escolamaster.escolaweb.com.br/' class='btn btn-plataforma'>Portal do aluno - PDA</a>
      </div>
    
  </div>
  
  
    <div class="col-md-4 mb-0 text-center">
      <h1 class='text-center master fonte-2'><i>Eventos</i></h1>
    <div id="carouselExampleFadeEventos" class="carousel slide carousel-fade mb-2" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
    
    
      
        <div class="carousel-item active rounded-bottom">
              
        
          <img data-src="/uploads/default.png" class='img-fluid lazyload' alt="aaaaa">
            </div>
    
    <a class="carousel-control-prev" href="#carouselExampleFadeEventos" role="button" data-slide="prev">
        <i class="fas fa-chevron-left fa-2x pr-3 mr-2" aria-hidden="true"></i>
        <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFadeEventos" role="button" data-slide="next">
        <i class="fas fa-chevron-right fa-2x pl-3 ml-2" aria-hidden="true"></i>
        <span class="sr-only">Próximo</span>
        </a>
    </div>
    </div>
  </div>
    
    </div>
    </div>
</div>


  <div class="row row-gestores bg-gestores-home mx-0 p-0 pt-5">
    <div class="container container-gestores">
    <div class="bg-flex-fix"></div>
    <div class="bg-font-fix">
      <h1 class='text-center fonte-5 master m-auto pb-1'>Nossos Gestores</h1>
      <div class="underline-text mb-4"></div>
    </div>
  <div id="carouselExampleFadeHome" class="carousel slide carousel-fade mb-2 mx-auto" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
  
  
      
          
          
          
          
          <div class="carousel-item active rounded-bottom">
              <div class="row justify-content-center">
          
          
          
              <div class="text-center d-inline-block col-3 p-0 m-0"> 
              <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_4e3a22ca76c94e88acc1dcd21823d17d_mv2.png_1567517759806?alt=media" class="img-fluid lazyload border border-light img-gestor rounded-circle">
              </div>
              
              
          
          
         
          
          
          
              <div class="text-center d-inline-block col-3 p-0 m-0"> 
              <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_67041b7da26c446794922d86dab0580e_mv2.png_1567517768138?alt=media" class="img-fluid lazyload border border-light img-gestor rounded-circle">
              </div>
              
              
          
          
         
          
          
          
              <div class="text-center d-inline-block col-3 p-0 m-0"> 
              <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_dadedf560c6741f6a7a266b75f1b19b4_mv2.png_1567517775692?alt=media" class="img-fluid lazyload border border-light img-gestor rounded-circle">
              </div>
              
              
          
          
          </div>
          </div> 
          
          
          
         
          
  
      
          
          
          
          
          
              <div class="carousel-item rounded-bottom">
              <div class="row justify-content-center">
          
          
              <div class="text-center d-inline-block col-3 p-0 m-0"> 
              <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/carmelita.png_1563986817556?alt=media" class="img-fluid lazyload border border-light img-gestor rounded-circle">
              </div>
              
              
          
          
         
          
          
          
              <div class="text-center d-inline-block col-3 p-0 m-0"> 
              <img data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/ducarmo.png_1563986829509?alt=media" class="img-fluid lazyload border border-light img-gestor rounded-circle">
              </div>
              
              
          
          
          </div>
          </div> 
          
          
          
         
          
  
  <a class="carousel-control-prev" href="#carouselExampleFadeHome" role="button" data-slide="prev">
      <i class="fas fa-chevron-left fa-2x pr-5 mr-2" aria-hidden="true"></i>
      <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFadeHome" role="button" data-slide="next">
      <i class="fas fa-chevron-right fa-2x pl-5 ml-2" aria-hidden="true"></i>
      <span class="sr-only">Próximo</span>
      </a>
  </div>
  <div class="row justify-content-center mb-5"><button href='/ensino/gestores' class='btn btn-master cmbtn' href='#'>Conheça nossa equipe!</button></div>
</div>
</div>
</div>
  

  
<div class="container">
<div class='row row-secundario bg-font-master'>
<div id="carouselExampleFade1" class="carousel slide carousel-fade col-md mt-3 align-items-center" data-ride="carousel">
  <div class="carousel-inner">
    
    
    
    <div class="carousel-item active border border-dark">
        <img class="d-block lazyload w-100" data-src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/gradua%C3%A7%C3%A3o.png_1563926288836?alt=media" alt="Secundario 1">
    </div>
    
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>


<div class='jumbotron doc-bg-cm col-md mt-3'>
    <div class="panel panel-default">
        <div class="panel-heading font-jumbotron-header m-auto pb-5 text-center"><i class="fas fa-file-alt d-lg-inline d-md-none d-sm-none"></i> Documentos</div>
      <ul class="list-group">
    
      
        <a href='https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/TESTE.docx_1563924634219?alt=media'><li class="list-group-item">23/6/2019 - Dever de casa</li></a>
        
    
      
      
    
      </ul>
    </div>
  </div>
</div>


    <div class="col-md-8 col-lg-6 mx-auto">
		<div class="form-bot mx-auto my-5">
			<h4 class="font-form-bot">Marque sua visita!</h4>
				<div class="font-form pt-5">
					<div><a class='location' href='https://www.google.com/maps/place/Escola+Master/@-15.9077756,-47.7641344,17z/data=!3m1!4b1!4m5!3m4!1s0x935a1f8702cbf41d:0xb378434566a4cc2!8m2!3d-15.9077808!4d-47.7619457'>Qd 25 s/n lote 1/4, Bairro São José - São Sebastião, Brasília-DF, 71693-026</a></div>
					<div class="pt-2">escolamaster@hotmail.com.br</div>
					<div class="pt-2">(61) 3335-7458 - Geral</div>
					<div>(61) 3335-4522 - Master I</div>
					<div>(61) 3339-0012 - Master II</div>
					<div class="pt-4">HORÁRIO DE FUNCIONAMENTO</div>
					<div>Seg - Sex: 7:00 - 12:00 / 13:00 - 18:00</div>
				</div>
				<form class='form-group' data="/contato/mensagem" id='new'>
					  <div class="form-row pt-4">
					    <div class="col-md-6 mb-3">
					      <input type='text' name="message[nome]" class="form-control form-control-sm" id="validationTooltip01" placeholder="Nome e sobrenome" autocomplete="off" required>
					    </div>
						 <div class="col-md-6 mb-3">
					      <input type='email' name="message[email]" class="form-control form-control-sm" placeholder="Email" autocomplete="off" required>
					    </div>
					    <div class="col-md-6 mb-3">
					      <input type='text' minlength="9" maxlength="22" name="message[telefone]" class="form-control form-control-sm" placeholder="Telefone para contato" autocomplete="off"  required>
					    </div>
					    <div class="col-md-6 mb-3">
						  <textarea class="form-control noresize" rows="5" placeholder="Sua mensagem!" name='message[texto]' maxlength="250" autocomplete="off" required></textarea>
						</div>
					  </div>
				  		<button class="btn btn-em" type="submit">Enviar mensagem</button>
			</form>
			<div class="font-form">
			<a class="sm-ico" href="https://www.youtube.com/user/escolamasterss/feed"><i class="fab fa-youtube fa-2x yt"></i></a>
			<a class="sm-ico" href="https://www.instagram.com/escolamasterss/?hl=pt"><i class="fab fa-instagram fa-2x ig"></i></a>
			<a class="sm-ico" href="https://pt-br.facebook.com/escolamaster/"><i class="fab fa-facebook-square fa-2x fb"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="text-center bg-font-footer mt-5 p-2">&copy; Escola Master</div>
</div>
<script async src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/cmcontroller.js"></script>
</body>
</html>