<% include ./partials/header %>
<div class="main">
    <form data="/admin/pagina" id="newSummer">
      <textarea id="summernote" name="html"></textarea>
      <input type="text" name="name" placeholder="Nome da página" required="true"/>
      <button class='btn p-0'><i class="far fa-save fa-2x"></i></button>
    </form>
    <div class="row justify-content-center">
      <a href="/admin/edit/paginas" class='btn btn-gerenciamento m-1'>Voltar</a>
    </div>
</div>
<% include ./partials/footer %>