<!DOCTYPE html>
<html lang="pt" dir='ltr'>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142312292-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-142312292-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content='Escola Master - Ensino Médio, Fundamental e Infantil! DESCONTOS e PROMOÇÕES - escolamaster@hotmail.com.br.
    O Colégio Master é uma escola particular localizada em Brasília/DF, no bairro São José em São Sebastião. 
    Inspirada nos princípios de liberdade e nos ideais de solidariedade e fraternidade humana a escola tem por finalidade em sua educação o pleno desenvolvimento do educando, seu preparo para o exercício da cidadania e sua preparação para o trabalho.
    (61) 3335-7458 - Geral,
    (61) 3335-4522 - Master I,
    (61) 3339-0012 - Master II,
    Bairro São José - São Sebastião, Brasília-DF, 71693-026.
    Venha conhecer nosso colégio!' name='description'>
    <title>Colégio Master | Ensino</title>
    <link rel="canonical" href="/home">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async>
    <!--RESOURCES-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" href="/res/icone-logo2.ico" type="image/x-icon"/>
    <script src="/js/lazysizes.min.js" async></script>
    <!-- <script async src="/js/jquery.simplr.smoothscroll.js"></script>
    <script async src="/js/jquery.mousewheel.min.js"></script> -->
</head>
    <body class='background-home'>
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-master d-lg-block text-center m-0 p-0">
            <div class="brand-col align-self-start m-auto">
            <a class="navbar-brand p-0 cmbtn" href="/home" alt='Colégio Master - São Sebastião'><span class="fonte colegio">Escola</span><span class="fonte master">Master</span></a>
            </div>
            <button class="navbar-toggler px-3 py-2 m-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        	<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Margin auto -->
        	    <ul class="navbar-nav m-auto text-left">
                    
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/home">Início</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/instituicao">Instituição</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/ensino">Ensino</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/eventos">Eventos</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="/contato/agendamento">Contato</a>
                    </li> 
                        
                        
                        
                    
                        
                        
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="https://escolamaster.escolaweb.com.br/">Portal do aluno</a>
                    </li> 
                        
                        
                        
                    
                        
                        
                            
                            <li class="nav-item dropdown px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
                                <a class="nav-link dropdown-toggle p-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ver mais
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                                    <a class="dropdown-item cmbtn p-2" href="/pagina/5d379e8cc3d6b62d6940135c">Página criada</a>
                            
                        
                        
                        
                    
                        
                        
                            
                                    <a class="dropdown-item cmbtn p-2" href="/blog">Blog</a>
                            
                        
                        
                        
                    
                        
                        
                            
                                    <a class="dropdown-item cmbtn p-2" href="/pagina/5d379e8cc3d6b62d6940135c">Teste 2</a>
                            
                        
                        
                        
                    
                        
                        
                    
        		</ul>
            </div>
        </nav>
        <noscript>
            <div class="row justify-content-md-center text-center fixed-top m-0">
                <div class="alert alert-danger col-md-12 text-center" role="alert">Ative o javascript para continuar. =)</div>
            </div>
        </noscript>
        <div class="page-main">
<div class="main main-ensino main-auto">
    
    
    
     
      
        <div class="row bg-ensino-home" id='Ensino%20M%C3%A9dio%20'  style='background-image: url(https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/student_taking_a_college_exam.jpg_1563925449063?alt=media)'>
            <div class="container row-container-ensino-r my-auto">
                <div class="row row-ensino-em">
                    <div class="col-md order-md-2">
                        <div class="content-wrapper text-left back-2 py-3 px-5">
                            <div class="bg-font-fix mb-1">
                                <h1 class='fonte-5 master m-auto pb-1'>Ensino Médio </h1>
                                <div class="underline-text"></div>
                            </div>
                            <p class="text-dark">É um momento de transição na vida dos alunos, um momento de tomar maiores responsabilidades e decisões, como por exemplo à escolha de um curso superior e de uma profissão. É necessário que os alunos desenvolvam habilidades e competências necessárias para sua vida pessoal, universitária e profissional.

Mesmo com o crescimento físico e mental de nossos jovens é necessário o envolvimento da família em sua vida acadêmica, a parceria com a escola continua sendo de suma importância.<br></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-md-block order-md-1"></div>
                </div>
        </div>
        </div>
        
    
     
      
        <div class="row bg-ensino-home" id='3%C2%AA%20s%C3%A9rie%20do%20Ensino%20M%C3%A9dio' style='background-image: url(https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/160401-highschool-stock.jpg_1563925481493?alt=media)'>
            <div class="container row-container-ensino-l my-auto">
                <div class="row row-ensino-em">
                    <div class="col-md">
                        <div class="content-wrapper text-left back-2 py-3 px-5">
                            <div class="bg-font-fix mb-1">
                                <h1 class='fonte-5 master m-auto pb-1'>3ª série do Ensino Médio</h1>
                                <div class="underline-text"></div>
                            </div>
                            <p class="text-dark">Esse é o ano em que os alunos estão concluindo a Educação Básica e devem ingressar na Educação Superior. A decisão de qual curso seguir pode ser difícil para alguns jovens, o apoio familiar em conjunto com a Escola Master e a Coordenação Pedagógica é de suma importância nessa fase.
Por isso, entre outros motivos, os alunos devem focar-se mais nos estudos, para alcançarem as metas que desejam para o futuro.<br></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-md-block"></div>
                </div>
            </div>
        </div>
        
    
     
      
        <div class="row bg-ensino-home" id='Ensino%20M%C3%A9dio%202'  style='background-image: url(https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/160401-highschool-stock.jpg_1565106810240?alt=media)'>
            <div class="container row-container-ensino-r my-auto">
                <div class="row row-ensino-em">
                    <div class="col-md order-md-2">
                        <div class="content-wrapper text-left back-2 py-3 px-5">
                            <div class="bg-font-fix mb-1">
                                <h1 class='fonte-5 master m-auto pb-1'>Ensino Médio 2</h1>
                                <div class="underline-text"></div>
                            </div>
                            <p class="text-dark">Bootstrap naming conventions carry styles of their own, col-XS-1 refers to a column being 8.33% of the containing element wide. Your text, would most likely expand far beyond the specified width, and couldn&#39;t possible be centered within it. If you wanted it to constrain to the div, you could use something like css word-break.<br></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-md-block order-md-1"></div>
                </div>
        </div>
        </div>
        
    
     
      
        <div class="row bg-ensino-home" id='Fundamental' style='background-image: url(https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/81604244-parent-and-pupil-of-primary-school-go-hand-in-hand-woman-and-girl-with-backpack-behind-the-back-begi.jpg_1565107321185?alt=media)'>
            <div class="container row-container-ensino-l my-auto">
                <div class="row row-ensino-em">
                    <div class="col-md">
                        <div class="content-wrapper text-left back-2 py-3 px-5">
                            <div class="bg-font-fix mb-1">
                                <h1 class='fonte-5 master m-auto pb-1'>Fundamental</h1>
                                <div class="underline-text"></div>
                            </div>
                            <p class="text-dark">Bootstrap naming conventions carry styles of their own, col-XS-1 refers to a column being 8.33% of the containing element wide. Your text, would most likely expand far beyond the specified width, and couldn&#39;t possible be centered within it. If you wanted it to constrain to the div, you could use something like css word-break.<br></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-md-block"></div>
                </div>
            </div>
        </div>
        
    
     
      
        <div class="row bg-ensino-home" id='Fundamental%202'  style='background-image: url(https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/160401-highschool-stock.jpg_1565107924750?alt=media)'>
            <div class="container row-container-ensino-r my-auto">
                <div class="row row-ensino-em">
                    <div class="col-md order-md-2">
                        <div class="content-wrapper text-left back-2 py-3 px-5">
                            <div class="bg-font-fix mb-1">
                                <h1 class='fonte-5 master m-auto pb-1'>Fundamental 2</h1>
                                <div class="underline-text"></div>
                            </div>
                            <p class="text-dark">Bootstrap naming conventions carry styles of their own, col-XS-1 refers to a column being 8.33% of the containing element wide. Your text, would most likely expand far beyond the specified width, and couldn&#39;t possible be centered within it. If you wanted it to constrain to the div, you could use something like css word-break.<br></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-md-block order-md-1"></div>
                </div>
        </div>
        </div>
        
    
    
<div class="container">
    <h1 class='text-center mb-5 fonte-2 master bg-font-master margin-ensino mt-3'>Colaboradores</h1>
        
        
        <div class="row justify-content-center mb-3 bg-light bg-gestores">
        <h2 class='text-center col-12 m-2'>Diretoria</h2>
        
        
            <div class="col-md-3 mt-4 text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_4e3a22ca76c94e88acc1dcd21823d17d_mv2.png_1568723826873?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Sandra - Diretora</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_67041b7da26c446794922d86dab0580e_mv2.png_1567517768138?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Sheyla - Vice Diretora</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_dadedf560c6741f6a7a266b75f1b19b4_mv2.png_1567517775692?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Juracy - Diretora Geral</h5></strong>
            </div>
        
        
        </div>
        
        
        
        <div class="row justify-content-center mb-3 bg-light bg-gestores">
        <h2 class='text-center col-12 m-2'>Coordenação</h2>
        
        
            <div class="col-md-3 mt-4 text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/carmelita.png_1563986817556?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Carmelita</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/ducarmo.png_1563986829509?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Ducarmo</h5></strong>
            </div>
        
        
        </div>
        
        
        
        <div class="row justify-content-center mb-3 bg-light bg-gestores">
        <h2 class='text-center col-12'>Informática</h2>
        
        
            <div class="col-md-3 mt-4 text-center"> 
            <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_ffbfa92c9db44a9484507ca92893f2ce_mv2.png_1563986863481?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Guilherme</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center"> 
            <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_ffbfa92c9db44a9484507ca92893f2ce_mv2.png_1563986915928?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Teste</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center"> 
            <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_ffbfa92c9db44a9484507ca92893f2ce_mv2.png_1563986926288?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Teste</h5></strong>
            </div>
        
        
        
            <div class="col-md-3 mt-4 text-center"> 
            <img src="https://firebasestorage.googleapis.com/v0/b/colegio-master-243821.appspot.com/o/9b5c5b_ffbfa92c9db44a9484507ca92893f2ce_mv2.png_1563986938164?alt=media" class="rounded-circle ensino-img-gestor">
                <strong><h5 class='text-center font-roboto p-3'>Teste</h5></strong>
            </div>
        
        
        
        
        
        
        </div>
        
        <div class="row justify-content-center mb-5"><button href='/ensino/gestores' class='btn btn-master cmbtn' href='#'>Conheça nossa equipe!</button></div>
    </div>
</div>
</div>
<div class="text-center bg-font-footer mt-5 p-2">&copy; Escola Master</div>
</div>
<script async src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/cmcontroller.js"></script>
</body>
</html>